#wrapper {
  display: flex;
  flex-direction: column;
}

#lesson {
  display: flex;
  height: 80vh;
}

#lesson_list {
  width: fit-content;
  padding-right: 20px;
  overflow-y: scroll;
}

#lesson_content {
  flex-grow: 1;
}