html,
body {
  height: 100%;
  margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#lesson {
  display: flex;
  flex: 1;
  overflow: hidden;
}

#lesson_list {
  width: fit-content;
  padding-right: 20px;
  overflow-y: auto;
}

#lesson_content {
  flex-grow: 1;
  border: none;
}